global:
  scrape_interval: 5s
  evaluation_interval: 5s
rule_files:
  - "alert_rules.yml"
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - "alertmanager:9093"
scrape_configs:
  - job_name: "api"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:8000"]
